.lobby-info {
  &__title {
    font-size: 0.87rem;
    font-weight: 500;
    color: #656565;
    margin: 1rem 0 0.6rem;
  }

  &__button {
    border-radius: 0;
  }

  &__copy-link {
    display: flex;
    align-items: stretch;
  }

  &__controls {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
