.setting {
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    gap: 10px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-cardvalue {
      flex-direction: row;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
  }

  &__timer {
    display: flex;
    gap: 5px;
    // width: 50px;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // border-radius: 4px;

    &__input {
      width: 50px;
      text-align: center;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;

      &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-label {
        font-size: 10px;
        font-weight: 600;
      }
    }

  }

  &__card-block {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__card {
    width: 100px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border: 3px solid #EEEEEE;

    .custom {
      justify-content: space-between;
    }

    &-img {
      width: 50px;
      height: 50px;
    }

    &-value {

    }

    &-value-top {

    }

    &-value-bottom {

    }
  }
}