.game-page {

  &__wrapper {
    display: flex;
  }

  &__main {
    width: 60%;
  }

  &__scrum-block {
    display: flex;
    justify-content: space-around;
  }

  &__scrum-btn {
    align-self: center;
  }

  &__main-issues {
    display: flex;  
  }

  &__players {
    width: 40%;
    padding-left: 10px;
    border-left: 2px solid lightgray;
    display: flex;
  
    &-title {
      font-size: 36px;
      font-weight: 600;
    }
  
    &-players {
      margin-left: 10px;
    }
  }
}
