.authPopup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 2.3rem;
  background-color: #fff;
  border-radius: 0.34rem;

  &Title {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1.33rem;
  }

  &Buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6rem;
  }

  &Input {
    &NotValid {
      border: 2px solid red !important;
    }
  }
}
