$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;
$form-text-margin-top: 0;
$form-check-margin-bottom: 0;
$form-feedback-margin-top: 0;
$form-label-margin-bottom: 0;
$legend-margin-bottom: 0;
$breadcrumb-margin-bottom: 0;

@import "~bootstrap/scss/bootstrap";
